@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Boogaloo&family=Dancing+Script:wght@700&family=Permanent+Marker&display=swap');
header {
    background-color: #07883B;
    display: grid;
    grid-template-columns: 150px auto;
    opacity: .95;
}
#content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 35px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    padding-left: 100px;
    width: 250px; 
    height: 175px;
}
nav {
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Amatic SC';
    font-size: xx-large;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-family: 'Amatic SC';
}
nav a:hover {
    background-color: #68818D;
    color: white;
    font-family: 'Amatic SC';
}
#home1_img {
    display: block;
    width: 1200px;
    height: 720px;
    margin: 0 auto;
    
}
.home-grid {
    display: grid;
    grid-template-columns: 500px 400px 500px;
    grid-template-rows: 1fr 200px 1fr;
}
.home-grid-text1 {
    grid-column: 1;
    grid-row: 1;
    font-family: 'Boogaloo', 'Permanent Marker';
    font-size: x-large;
    padding: 20px;
}
.home-grid-img1 {
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
}
.home-grid-text2 {
    grid-column: 3;
    grid-row: 1;
    font-family: 'Boogaloo', 'Permanent Marker';
    font-size: x-large;
    padding-top: 100px;
    
}
.home-grid-img2 {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 50px 200px 100px 400px 50px;
    grid-template-rows: 50px 150px 150px 100px 150px 150px 50px;
}
#home2_img {
    width: 350px;
    height: 400px;
}
#home3_img {  
    grid-column: 3/4;
    grid-row: 2/3;
    width: 500px;
    height: 300px;
}
#home5_img { 
    grid-column: 2/3;
    grid-row: 3/5;
    width: 300px;
    height: 400px;
}
#home4_img {  
    grid-column: 3/4;
    grid-row: 5/6;
    width: 500px;
    height: 300px;
}
.home-grid-text3 {
    grid-column: 3;
    grid-row: 3;
    font-family: 'Boogaloo', 'Permanent Marker';
    font-size: xx-large;
    text-align: center;
    background-color: whitesmoke;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #EA1F4B;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.home-grid-text3:hover {
    background-color: #EA1F4B;
    color: black;
}
h1 {
    font-family: 'Boogaloo', 'Permanent Marker';
}
.container {
    position: relative;
    width: 100%;
}
  
.image {
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.container:hover .image {
opacity: 0.3;
}

.container:hover .middle {
opacity: 1;
}

.text {
background-color: #04AA6D;
color: white;
font-size: 16px;
padding: 16px 32px;
}

footer {
    background-color: #07883B;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
}
footer .social img {
    padding-top: 15px;
    padding-right: 15px;
}
footer h3 {
    color: white;
    padding: 10px;
}
footer a {
    color: #07883B;
}
footer a:hover {
    text-decoration: none;
}
footer h3 a:hover {
    text-decoration: none;
}
/* Big Island Subpage */
.big-island-grid {
    display: grid;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    grid-template-columns: 50px 300px 200px 100px 200px 300px 50px;
    grid-template-rows: 50px 300px 50px 300px 50px 300px 50px;
}
.big-island-title {
    font-family: 'Boogaloo', 'Permanent Marker';
    font-size: 50px;
    padding-top: 40px;
}
.big-island1 {
    grid-column: 3/6;
    grid-row: 2/3;
}
.big-island2 {
    grid-column: 2/4;
    grid-row: 4/5;
    font-family: 'Boogaloo', 'Permanent Marker';
    font-size: x-large;
    padding-bottom: 10px;
}
.big-island-text {
    border: 15px #EA1F4B;
}
.big-island3 {
    grid-column: 5/6;
    grid-row: 4/5;
}
.big-island4 {
    grid-column: 3/6;
    grid-row: 6/7;
}
